@import url('/src/styles/main.css');
@import url('/src/styles/util.css');

li {
    list-style: none;
}

a,
img,
span,
input,
button {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

sub {
    vertical-align: baseline;
}

sup {
    vertical-align: top;
}

sub,
sup {
    font-size: 0.75em;
}

html {
    font-family: var(--font-1);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-size: var(--body-3);
    overflow: hidden;
}

:focus-visible {
    outline: 2px solid var(--color-white);
    outline-offset: 2px;
}

::selection {
    background-color: var(--color-white-alpha-8);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-white-alpha-8);
    border-radius: var(--radius-pill);
}

.container {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
    padding: 16px;
}

.icon-btn {
    background-color: var(--color-white-alpha-8);
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-circle);
}

.has-state::before {  /* TODO - troubleshoot the ::before overlay mixing */
    content: ''; 
    position: absolute;
    inset: 0;
    border-radius: inherit;
    clip-path: circle(100% at 50% 50%);
    transition: var(--transition-100ms);
}

.has-state:hover::before {
    background-color: var(--color-white-alpha-4);
}

.has-state:is(:focus, :focus-visible)::before {
    background-color: var(--color-white-alpha-8);
    animation: ripple 250ms ease forwards;
}

@keyframes ripple {
    0% {
        clip-path: circle(0% at 50% 50%);
    }

    100% {
        clip-path: circle(100% at 50% 50%);
    }
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    height: 48px;
    line-height: 48px;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-inline: 16px;
    border-radius: var(--radius-pill);
}

.btn-primary .span {
    font-weight: var(--weight-semiBold);
}

.btn-primary[disabled] {
    background-color: var(--color-outline);
    color: var(--color-on-surface-variant);
    cursor: not-allowed;
}

.btn-primary[disabled]::before {
    display: none;
}

.search-view,
.header .btn-primary .span {
    display: none;
}

.logo img {
    width: 150px;
}

.header .container,
.header-actions {
    display: flex;
    align-items: center;
}

.header .container {
    justify-content: space-between;
}

.header-actions {
    gap: 16px;
}

.header .btn-primary {
    padding-inline: 12px;
}

.search-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    clip-path: circle(4% at calc(100% - 102px) 5%);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transition: clip-path 500ms ease;
}

