@import url('/src/styles/main.css');

.error-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 3rem;
    height: calc(100vh - 3rem);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transition-1s);
}

.error-content .btn-primary {
    margin-block-start: 20px;
}

