@import url('/src/styles/main.css');

.slideshow-section {
    width: 100%;
    height: calc(100vh - 3rem);
}

.overlay-home {
    position: relative;
}

.overlay-home p {
    display: block;
    position: absolute;
    top: 47vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--font-1);
    z-index: 5;
    padding: 5px 20px;
    backdrop-filter: blur(20px);
    opacity: 0.5;
    border-radius: 15px;
    background-image: linear-gradient(to right, #304352 0%, #d7d2cc 51%, #304352 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
}

.overlay-home p:hover {
    opacity: 1;
    background-position: right center;
    color: #fff;
    text-decoration: none;

}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animate-fading {
    animation: fading 7s infinite;
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}