@import url('/src/styles/main.css');


@media all and (max-width: 767px) {
    .header {
        height: 100px;
    }

    #aqi-header-ctr {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }

    #aqi-header-ctr p,
    #flex-row {
        font-size: 80%;
    }

    #aqi-h-title {
        font-size: 100%;
    }

    .current-weather-card .weapper {
        justify-content: left;
    }

    .search-view.active {
        margin-top: 20px;
    }

    .h-forecast-title {
        font-size: 1.7rem;
    }

    #h-forecast-btn {
        font-size: 1.2rem;
    }

    .hour-row td {
        padding: 0;
        margin: 1px;
    }

    .hour-row td .info-group div {
        margin: 0;
    }

    #last-updated-hourly {
        left: 25px;
        top: 17px;
    }

    .hour-section .label,
    .info-group div:nth-of-type(2) {
        margin: 5px;
    }

    .hour-section .label {
        font-size: 1.1rem;
    }

    .info-group div:nth-of-type(2) {
        font-size: 1.4rem;
    }

    tr td:nth-of-type(11) .info-group div:nth-of-type(2) {
        font-size: 1.3rem;
    }

    .notif-overlay {
        top: 8%;
    }

    .aqi-box {
        grid-column: 1 / 4;
    }

    .aqi-row-all .aqi-title {
        font-size: 1.1rem;
    }

    .aqi-row-all div:nth-of-type(1) .aqi-title {
        font-size: 0.9rem;
    }

    .aqi-row-all .aqi-content {
        font-size: 1.3rem;
    }

    .aqi-row-all div:nth-of-type(1) .aqi-content {
        font-size: 1.1rem;
    }


}


@media all and (max-width: 580px) {
    .hour-section img {
        height: 40px;
        width: 40px;
    }

    .hour-section .label,
    .info-group div:nth-of-type(2) {
        margin: 2px;
    }

    .hour-section .label {
        font-size: 1rem;
    }

    .info-group div:nth-of-type(2) {
        font-size: 1.2rem;
    }

    tr td:nth-of-type(11) .info-group div:nth-of-type(2) {
        font-size: 1.1rem;
    }
}

@media all and (max-width: 450px) {
    #aqi-header-ctr {
        transform: scale(0.9);
    }

    .container .logo img {
        height: 19px;
        width: 125px;
    }

    /* .hour-row {
        grid-template-columns: repeat(6, 1fr);
    }

    .hour-row td:nth-of-type(1),
    .hour-row td:nth-of-type(2) {
        grid-row: 1 / 2;
    }

    .hour-row td:nth-of-type(1) {
        grid-column: 1 / 3;
    } */

    .h-forecast-title {
        font-size: 1.3rem;
    }

    #h-forecast-btn {
        font-size: 0.9rem;
        padding: 2px 6px;
    }

    .hour-section img {
        height: 20px;
        width: 20px;
    }

    .hour-section .label {
        font-size: 0.7rem;
    }

    .info-group div:nth-of-type(2) {
        font-size: 1rem;
    }

    tr td:nth-of-type(11) .info-group div:nth-of-type(2) {
        font-size: 0.9rem;
    }

    html body #main #main-ctr .header .error-overlay {
        font-size: 2rem;
    }

    .aqi-row-all {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}

@media all and (min-width: 768px) {

    .header {
        height: 100px;
    }

    .container {
        padding: 24px;
    }

    .title-1 {
        --title-1: 2.4rem;
    }

    .section>.title-2 {
        margin-block-end: 16px;
    }

    .card-sm {
        padding: 20px;
        display: grid;
        grid-template-rows: min-content 1fr;
    }

    .badge {
        top: 20px;
        right: 20px;
    }

    .header-actions {
        gap: 24px;
    }

    .header .btn-primary {
        padding-inline: 16px 24px;
    }

    .header .btn-primary .span {
        display: block;
    }

    .search-view {
        clip-path: circle(3% at calc(100% - 273px) 6%);
    }

    main {
        height: calc(100vh - 96px);
        height: calc(100svh - 96px);
    }

    article.container {
        padding-block-start: 0;
        grid-template-columns: 208px minmax(0, 1fr);
        align-items: flex-start;
        gap: 24px;
    }

    .card.card-sm.highlight-card.two {
        height: fit-content;
    }

    .content-left {
        position: sticky;
        top: 0;
    }

    .section:not(:last-child) {
        margin-block: 20px;
    }

    .forecast-card .card-item:not(:last-child) {
        margin-block-end: 16px;
    }

    .highlight-list {
        grid-template-columns: 1fr 1fr;
    }

    .highlight-card:nth-child(-n+2) {
        grid-column: span 2;
        height: 160px;
    }

    .hihglight-card:nth-child(n+3) {
        height: 120px;
    }

    .highlights .m-icon {
        font-size: 3.6rem;
    }

    .highlight-card.one .card-item {
        width: 25%;
        flex-direction: column-reverse;
        gap: 8px;
    }

    .slider-container {
        margin-inline: 0 -24px;
        border-bottom-left-radius: var(--radius-16);
        border-top-left-radius: var(--radius-16);
    }

    .slider-list::before {
        display: none;
    }

    .slider-list::after {
        min-width: 12px;
    }

    .hourly-forecast .card-sm {
        padding: 16px;
    }

    .search-view.active {
        /* search showing in lower res */
        all: unset;
        display: block;
        position: relative;
        animation: none;
        min-width: 260px;
        width: 38%;
    }

    .search-wrapper {
        border-block-end: none;
    }

    .search-field,
    .search-view .view-list {
        background-color: var(--color-surface);
    }

    .search-field {
        height: 56px;
        border-radius: var(--radius-28);
    }

    .search-view:has(.search-result.active):focus-within .search-field {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .search-view .view-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 360px;
        border-radius: 0 0 var(--radius-28) var(--radius-28);
        border-block-start: 1px solid var(--color-outline);
        overflow-y: auto;
        overflow-y: overlay;
        z-index: 100;
        margin-top: 2px;
    }

    .search-view .view-item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding-inline: 16px 24px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: fit-content;
    }

    .search-view .view-list:empty {
        min-height: 120px;
    }

    .search-view .view-item div {
        max-width: 80%;
        height: fit-content;
    }

    .search-view .view-list::-webkit-scrollbar-button {
        height: 20px;
    }






    .h-forecast-title,
    #h-forecast-btn {
        font-size: 2rem;
    }

    .h-forecast-title {
        font-size: 3rem;
    }

    #h-forecast-btn {
        padding: 4px 20px;
    }

    .hour-section .label,
    .info-group div:nth-of-type(2) {
        margin: 3px;
    }

    .hour-section .label {
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: 1px;
    }

    .info-group div:nth-of-type(2) {
        font-size: 1.8rem;
    }

    tr td:nth-of-type(1) .label {
        font-size: 1.2rem;
    }

    tr td:nth-of-type(1) .info-group div:nth-of-type(2) {
        font-size: 2rem;
    }

    tr td:nth-of-type(11) .info-group div:nth-of-type(2) {
        font-size: 1.5rem;
    }

    tr td:nth-of-type(2) img {
        transform: scale(1.2);
    }

    .hour-section .hour-row td:nth-of-type(1) .info-group>* {
        letter-spacing: 2px;
        font-weight: 900;
        transform: scale(1.1);
    }
}

@media all and (min-width: 1200px) {
    :root {
        --heading: 8rem;
        --title-2: 2rem;
    }

    .container {
        padding: 40px;
    }

    article.container {
        grid-template-columns: 280px minmax(0, 1fr);
    }

    .content-left {
        position: sticky;
        top: 0;
    }

    .card-lg {
        padding: 36px;
    }

    .card-sm {
        padding: 24px;
    }

    .title-1 {
        --title-1: 3.6rem;
    }

    .highlight-card.two .card-item {
        column-gap: 24px;
    }

    /* .header .icon-btn {
        display: none;
    } */

    .logo img {
        width: 200px;
    }

    .header {
        position: relative;
        height: 120px;
        z-index: 4;
    }

    .header .container {
        padding-block: 0;
        height: 100%;
    }

    .search-view.active {
        all: unset;
        display: block;
        position: relative;
        width: 500px;
        animation: none;
    }

    .search-wrapper {
        border-block-end: none;
    }

    /* .search-wrapper>.m-icon {
        display: block;
    } */

    .search-field,
    .search-view .view-list {
        background-color: var(--color-surface);
    }

    .search-field {
        height: 56px;
        border-radius: var(--radius-28);
    }

    /* .search-result,
    .search-view:not(:focus-within) .search-result {
        display: none;
    }

    .search-view:focus-within .search-result.active {
        display: block;
    } */

    .search-view:has(.search-result.active):focus-within .search-field {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .search-view .view-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 360px;
        border-radius: 0 0 var(--radius-28) var(--radius-28);
        border-block-start: 1px solid var(--color-outline);
        overflow-y: auto;
        overflow-y: overlay;
    }

    .search-view .view-list:empty {
        min-height: 120px;
    }

    .search-view .view-list::-webkit-scrollbar-button {
        height: 20px;
    }

    .search-view :is(:hover, :has(.view-list):hover) {
        filter: drop-shadow(var(--shadow-1));
    }

    .search-view :is(:focus-within, :has(.view-list):focus-within) {
        filter: drop-shadow(var(--shadow-2))
    }

    .search-view .search-field {
        visibility: visible;
    }

    main {
        height: calc(100vh - 120px);
        height: calc(100svh - 120px);
    }

    article.container {
        grid-template-columns: 320px minmax(0, 1fr);
        gap: 40px;
    }

    .current-weather .weapper {
        justify-content: center;
        gap: 10px;
    }

    .current-weather .weather-icon {
        width: 100px;
        margin: 0;
    }

    .forecast-card .title-2 {
        --title-2: 2.2rem;
    }

    .highlight-card:nth-child(-n+2) {
        height: 200px;
    }

    .highlight-card:nth-child(n+3) {
        height: 150px;
    }

    .highlight-card .m-icon {
        font-size: 4.8rem;
    }

    .slider-list {
        gap: 16px;
    }

    .h-forecast-title,
    #h-forecast-btn {
        font-size: 2rem;
    }

    .h-forecast-title {
        font-size: 3.5rem;
    }

    #h-forecast-btn {
        padding: 10px 25px;
    }

    .hour-section .label,
    .info-group div:nth-of-type(2) {
        margin: 3px;
    }

    .hour-section .label {
        font-size: 1.3rem;
    }

    .info-group div:nth-of-type(2) {
        font-size: 2.2rem;
    }

    tr td:nth-of-type(11) .info-group div:nth-of-type(2) {
        font-size: 1.8rem;
    }

    .hour-section .hour-row td:nth-of-type(1) .info-group>* {
        transform: scale(1.2);
    }

    html body #main #main-ctr .header .error-overlay {
        top: 200px;
    }

    .notif-overlay {
        top: 85%;
    }

    .aqi-row-all .aqi-title {
        font-size: 1.5rem;
        line-height: 1;
    }

    .aqi-row-all .aqi-content {
        flex-direction: row;
        align-items: baseline;
        gap: 5px;
        font-size: 2rem;
    }

}


@media all and (min-width: 1400px) {

    article.container .content-left {
        position: sticky;
        top: 0;
    }

    .highlight-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .card.card-sm.highlight-card.one,
    .card.card-sm.highlight-card.two {
        grid-column: 1 / 4;
    }

    .h-forecast-title {
        font-size: 4rem;
    }

    .hour-section .hour-row td:nth-of-type(1) .info-group>* {
        transform: scale(1.3);
    }

    .aqi-row-all .aqi-title {
        font-size: 1.7rem;
    }

    .aqi-row-all .aqi-content {
        gap: 10px;
        font-size: 2.2rem;
    }

}